@font-face {
    font-family: 'Ethnocentric';
    src: url('../fonts/EthnocentricRg-Regular.ttf'),
        url('../fonts/EthnocentricRg-Regular.eot'),
        url('../fonts/EthnocentricRg-Regular.woff'),
        url('../fonts/EthnocentricRg-Regular.woof2')
}

body {
    font-family: "Raleway", sans-serif
}

body h1 {
    font-family: "Ethnocentric", sans-serif
}

body,
html {
    height: 100%
}

.bgimg {
    background-image: url('https://i.postimg.cc/dQjWNPLr/2984677.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}